* {
  box-sizing: border-box;
}

.header {
  padding: 80px; 
  text-align: center; 
  background: #1abc9c; 
  color: white; 
}

.header h1 {
  font-size: 40px;
}



.footer {
  font-size: 25px;
  padding: 20px; 
  text-align: center; 
  background: #ddd; 
  height: 150px;
}
